/* style.css */

* {
    font-family: Roboto;
}


.header {
    display: flex;
    font-weight: bolder;
    background-color: #1F2937;
    color: #E5E7EB;
    /* height 480px */
    height: 40px;
    padding-left: 24px;
}

.logo {
    flex-shrink: 0;
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 400px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 1000px;
}

li {
    padding-right: 18px;
}

.links {
    display: flex;
    padding: 12px;
    padding-left: 18px;
    margin-left: 14.5em;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-evenly;
}

.section1 {
    color:#E5E7EB;
    background-color: #1F2937;
    padding: 24px;
}

.img-main {
    display: flex;
    margin-left: 1000px;
    margin-top: -200px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    background-color: #1F2937;
    padding-left: 400px;
}

.subtext {
    font-size: 18px;
    width: 480px;
    background-color: #1F2937;
    margin-top: -48px;
    padding-left: 400px;
}

.button-box1 {    
    background-color: #1F2937;
    margin-bottom: 18px;
    padding-left: 400px;
}

button {
    background-color: #3882F6;
    border: 2px #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
}

.section2 {
    display: flex;
}

.subsection2 {
    display: flex;
}

.imagebox {
    margin: 0px;
    display: flex;
}

.boximage {
    display: flex;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.section3 {
    width: 240px;
    background-color: #E5E7EB;
    padding: 18px;
    margin: 48px;
}
 .section4 {
 }

.buttonbox2 {

}

 .footer {
    display: flex;
    color: #E5E7EB;
    background-color: #1F2937;
    justify-content: center;
    height: 60px;
    padding-top: 40px;
}
/* Landing Page Color and Fonts Styles

dark background color (hero and footer) #1F2937

Hero Main text ("this website is awesome")
48px extra-bold #F9FAF8

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24px #F9FAF8

Button color, call to action background color
#3882F6

information header text
36px extra-bold #1F2937

Quote selection background color
#E5E7EB

Quote text
36px light italic #1F2937 */