/* style.css */

* {
    font-family: Roboto;
}

.header {
    display: flex;
    font-weight: bolder;
    background-color: #1F2937;
    color: #E5E7EB;
    /* height 480px */
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

li {
    padding-right: 18px;
}

.links {
    display: flex;
    align-items: center;
    padding-left: 18px;
    font-size: 18px;
    color: #E5E7EB;
}

.section1 {
    color:#E5E7EB;
    background-color: #1F2937;
    padding: 24px;
    padding-left: 12.5%;
}

.img-main {
    margin-left: 600px;
    margin-top: -200px;
    padding-left: 7.5%;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    background-color: #1F2937;
    
}

.subtext {
    font-size: 18px;
    width: 480px;
    background-color: #1F2937;
    margin-top: -48px;
    
}

.button-box1 {    
    background-color: #1F2937;
    margin-bottom: 18px;
    
    height: 50px;
}

button {
    background-color: #3882F6;
    border: 2px #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
}


.section2 {
    display: flex;
    flex-direction: column;
}

.section2header {
    margin-top: 30px;
    margin-bottom: 60px;
    justify-content: center;
    display: flex;
}

div.subsection2 {
    display: flex;
    justify-content: center;
}

.boximage {
    display: inline-block;
    text-align: center;
    width: 140px;
    margin-right: 24px;
    margin-bottom: 64px;
}

.images {
    width: 120px;
    height: 120px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.caption {
    display: block;
}

.section3 {
    background-color: #E5E7EB;
    padding: 18px;
    margin-top: 24px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 800px;
    padding-left: 30%;
}

.author {
    padding-left: 45em;
    font-size: 24px;
}

.section4 {
    display: flex;
    margin-top: 24px;
}

.buttonbox2 {
    display: flex;
}

 .footer {
    display: flex;
    color: #E5E7EB;
    background-color: #1F2937;
    justify-content: center;
    height: 60px;
    padding-top: 40px;
    margin-top: 24px;
}
/* Landing Page Color and Fonts Styles

dark background color (hero and footer) #1F2937

Hero Main text ("this website is awesome")
48px extra-bold #F9FAF8

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24px #F9FAF8

Button color, call to action background color
#3882F6

information header text
36px extra-bold #1F2937

Quote selection background color
#E5E7EB

Quote text
36px light italic #1F2937 */